

.Services{
    padding-bottom: 30vh;
    padding-top:30vh;
    z-index: 0;
    color: aliceblue;
}

.Card{
    .CardImage{

        width: 90%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20vw;
    height: 50vh;
    
    .carddesc{
        
    }
    .cardprice{

    }
}
 button.rec-dot{
    opacity:0 ;
  }
  
